h1 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3em;
}

.menu-page {
	padding-top: 10em;
  font-size: 1.3em;
  }

body {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}

.custom-button {
  border: none;
  padding: 1em;
  font-size: 1.4em;
  border-radius: 2em;
  font-weight: 600;
}

.upload-button {
  border: none;
  border-radius: 2em;
  font-weight: 600;
}

.home-buttons-flexbox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.uploaded-file-text{
  margin-left: 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333333;
    color: #dddddd;
  }

  .custom-button, .upload-button{
    color: #333333;
    background: #dddddd;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #dddddd;
    color: #333333;
  }

  .custom-button, .upload-button{
    color: #dddddd;
    background: #333333;
  }
}