h1 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3em;
}

.menu-page {
  font-size: 1.3em;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  }

.menu-page-align {
  display: table-cell;
  vertical-align: middle;
}

.menu-page-height {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.accordion-page {
  padding-top: 20vh;
}

.accordion-download-button {
  width: 100%;
  border: none;
  
  border-top: solid 2px;
}

.accordion-div {
  margin-top: 10px;
}

.accordion-item {
  margin-top: 10px;
  margin-bottom: 10px;

  border: none;
}

body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.custom-button {
  border: none;
  padding: 1em;
  font-size: 1.4em;
  border-radius: 2em;
  font-weight: 600;
  transition: background-color 0.25s;
}

.upload-button {
  border: none;
  border-radius: 2em;
  font-weight: 600;
  transition: background-color 0.25s;
}

.home-buttons-flexbox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.xml {white-space: pre-wrap;}

.custom-button:disabled {
  opacity: 0.5;
}

.empty-folder-warning {
  color: red;
}

.drag-n-dropper {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: dashed;
  transition: background-color 0.25s;
}

.drag-n-dropper:hover {
  cursor: pointer;
}

.drag-n-dropper-text {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

@media (prefers-color-scheme: dark) {  

  body, .accordion {
    background: #333333;
    color: #dddddd;
  }

  .custom-button, .upload-button {
    color: #333333;
    background: #dddddd;
  }

  .custom-button:hover, .upload-button:hover {
    background-color: #ffffff;
    color: #333333;
  }

  .accordion-button, .accordion-download-button, .drag-n-dropper{
    background: #555555;
    color: #dddddd;
  }

  .accordion-button:not(.collapsed), .drag-n-dropper:hover{
    background: #777777;
    color: #ffffff;
  }

  .xml {
    background: #222222;
    color: #dddddd;
  }
}

@media (prefers-color-scheme: light) {
  body, .accordion {
    background: #dddddd;
    color: #333333;
  }

  .custom-button, .upload-button{
    color: #dddddd;
    background: #333333;
  }

  .custom-button:hover, .upload-button:hover {
    background-color: #555555;
    color: #dddddd;
  }

  .accordion-button, .accordion-download-button, .drag-n-dropper{
    background: #cccccc;
    color: #333333;
  }

  .accordion-button:not(.collapsed), .drag-n-dropper:hover{
    background: #888888;
    color: #eeeeee;
  }

  .xml {
    background: #eeeeee;
    color: #333333;
  }
}